.task-container {
  background: white;
  padding-bottom: 0.5rem;
  margin-bottom: 1.25rem;
}

.task-header {
  display: flex;
  justify-content: space-between;
  padding: 0.85rem 1.5rem;
}

.date-title {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.task-title {
  margin: 0;
  font-size: 0.9rem;
}

.no-name {
  opacity: 0.5;
}

.task-record {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;

  &:not(:last-child) {
    box-shadow: rgb(235 231 235) 0px -1px 0px 0px inset;
  }

  &:hover {
    background: rgb(250, 250, 250);
  }
}

.task-record-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task-record-right {
  min-width: 230px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.9rem;
}

.task-duration {
  flex: 0 0 80px;
  text-align: right;
}