<div class="form-container box-container">
  <div class="header-texts-container">
    <p class="page-header-text">Get started with Trackr</p>
    <p class="page-details-text">Create a free account to start tracking your time</p>
  </div>
  <div class="forms-container">
    <mat-form-field class="mat-form-field-custom wide-forms">
      <mat-label>Name</mat-label>
      <input matInput type="text" required>
    </mat-form-field>
    <mat-form-field class="mat-form-field-custom wide-forms">
      <mat-label>Email</mat-label>
      <input matInput type="email" required>
    </mat-form-field>
    <mat-form-field class="mat-form-field-custom wide-forms">
      <mat-label>Password</mat-label>
      <input matInput type="password" required>
    </mat-form-field>
  </div>
  <a [routerLink]="['/home/tracking']">
    <button mat-flat-button class="custom-btn wide-forms">Sign up</button>
  </a>
  <div class="btm-btn-container">
    <div class="divider-container">
      <div class="line-divider"></div>
      <p class="text-divider">OR</p>
      <div class="line-divider"></div>
    </div>
    <a [routerLink]="['']">
      <button mat-flat-button class="secondary-flat-btn">Log in with your account</button>
    </a>
  </div>
</div>