<div class="time-tracker-container box-container">
  <input type="text" class="custom-input-form" placeholder="What are you working on?">
  <div class="icon-btn-container">
    <mat-icon class="icon-btn">folder</mat-icon>
  </div>
  <p class="time-text">00:00:00</p>
  <div *ngIf="start" class="toggle-btn-container" (click)="startTimer()">
    <mat-icon  class="icon-play-btn">play_arrow</mat-icon>
  </div>
  <div *ngIf="stop" class="toggle-btn-container" (click)="stopTimer()">
    <mat-icon class="icon-play-btn">stop</mat-icon>
  </div>
</div>