@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

html,
body {
  height: 100%;
}

* {
  font-family: "Poppins", sans-serif !important;
}

.material-icons{
  font-family: 'Material Icons' !important;
}

body {
  margin: 0;
  background: #f6f8fa;
}

.logo-text {
  margin: 0;
  font-family: 'Playfair Display', serif !important;
  color: #000b36;
}

.box-container {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 4px;
  border-radius: 0.75em;
}

.form-container {
  background: white;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.header-texts-container {
  text-align: center;
  margin: 0.5rem 0;
}

.page-header-text {
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.page-details-text {
  margin: 0.25rem 0;;
  color: #7c7c7c;
  font-size: 0.9rem;
}

.bold-text {
  font-weight: 500;
}

.checkbox-container {
  display: flex;

  label {
    font-size: 0.9rem;
    color: #7c7c7c;
  }
}

#remember {
  accent-color: #000b36;
}

div[data-lastpass-icon-root] {
  display: none;
}

.custom-form-container {
  display: flex;
  flex-direction: column;
}

.custom-input-label {
  margin-bottom: 4px;
  font-size: 0.9rem;
}

.custom-input-form {
  padding: 0.5rem 0.75rem;
  border: none;
  background: #f7f7f8;
  border-radius: 6px;
  border: 2px solid rgba(0,11,54, 0);
  box-shadow: 0 0 2px rgba(0,11,54, 0);
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: none;
    border: 2px solid rgba(0,11,54, 0.5);
    box-shadow: 0 0 1px rgba(0,11,54, 0.75);
  }
}

.wide-custom-form {
  width: 250px;
}

.custom-time-input {
  border: none !important;
  margin: 0 0.5rem;
  background: #f7f7f8;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  border: 2px solid rgba(0, 11, 54, 0);
  box-shadow: 0 0 2px rgb(0 11 54 / 0%);
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: none;
    border: 2px solid rgba(0,11,54, 0.5);
    box-shadow: 0 0 1px rgba(0,11,54, 0.75);
  }
}

// ALL ANGULAR MATERIAL CUSTOM CSS - START
.mat-form-field-custom {
  font-size: 0.9rem !important;
}

.mat-focused .mat-form-field-ripple {
  background-color: #000b36 !important;
}
.mat-focused .mat-form-field-label {
  color: #000b36 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #000b36 !important;
}

.custom-btn {
  height: 40px;
  background-color: #000b36 !important;
  color: #fff;
}

.secondary-flat-btn {
  font-size: 0.9rem;
  font-weight: 400;
}

.wide-forms {
  width: 280px;
}

.mat-form-rmv-padding {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}

.no-arrow-select {
  .mat-select-arrow-wrapper {
    display: none;
  }
} 

.mat-select-panel {
  border-radius: 0.75rem !important;
  box-shadow: rgb(0 0 0 / 9%) 0px 1px 4px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.mat-option-text,
.mat-select-value-text {
  font-size: 0.9rem;
}

.mat-select-value-text {
  background: #f6f8fa;
  padding: 0.15rem 0.4rem;
  font-weight: 500;
  border-radius: 0.3rem;
}
// ALL ANGULAR MATERIAL CUSTOM CSS - END